.product-container {
	.make-md-column(10);
	.make-md-column-offset(1);
}

.cart-elem {
	.make-row();
	.border-radius(8px);
	.transition(0.2s);
	padding: 0.5em;
	color: #666666;
	margin-top: 1em;

	&:hover {
		background-color: #D3D3D3;
		color: #222222;
		cursor: pointer;
	}
}

.cart-elem-img {
	.img-rounded;
	.make-md-column(2);
}

.info-container {
	.make-md-column(9);
}

.cart-elem-data {
	.make-md-column(4);
	text-align: center;
	font-size: 1em;
}

.cart-elem-title {
	text-align: center;
	color: #666666;
}

.cart-elem:hover .cart-elem-title {
	color: #000000;
}

.cart-elem-size {
	.cart-elem-data;
}

.cart-elem-price {
	.cart-elem-data;
}

.cart-elem-color {
	.cart-elem-data;
}

.cart-elem-del {
	.close;
	.make-md-column(1);

	&:hover {
		color: #bd362f;
	}
}

.cart-total {
	margin-top: 1em;
	font-size: 2em;
	float: right;
}

.cart-submit {
	float: right;
	clear: right;
	margin-top: 1em;
}
