.cart-container{
	.make-row();
}

.cart-product-container {
	.make-md-column(10);
	.make-md-column-offset(1);
}

.cart-elem {
	.make-row();
	.border-radius(8px);
	.transition(0.2s; all; ease);
    overflow: hidden;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
	color: #666666;
	

	&.cart-hide {
		max-height: 0;
		margin: 0 10px;
		padding: 0 10px;
	}

	&:hover {
		background-color: #D3D3D3;
		color: #222222;
		cursor: pointer;
	}
}
.cart-data-row {
	.make-row();
	margin-top: 1em;
}

.cart-elem-img {
	.img-thumbnail;
	.make-md-column(2);
}

.cart-info-container {
	.make-md-column(9);
}

.cart-elem-data {
	.make-md-column(4);
	text-align: center;
	font-size: 1em;
}

.cart-elem-topData {
	.make-md-column(6);
	text-align: center;
	font-size: 1em;
}

.cart-elem-title {
	text-align: center;
	color: #666666;
}

.cart-elem:hover .cart-elem-title {
	color: #000000;
}

.cart-elem-del {
	.close;
	.make-md-column(1);

	&:hover {
		color: #bd362f;
	}
}

.cart-total {
	margin-top: 1em;
	font-size: 2em;
	float: right;
}

.cart-submit {
	.btn;
	.btn-primary; 
	float: right;
	clear: right;
	margin-top: 1em;
	margin-bottom: 1em;

}
