.checkout-container {
	.make-row();
}

.saved-address-container {
	.make-row();
	margin-top: 7em;
}

.saved-address {
	.make-md-column(4);
	.border-radius(8px);
	.transition(0.2s);
	color: #696969;
	

	&:hover {
		background-color: #D3D3D3;
		color: #000000;
	}
}

.saved-address-data {
	.make-row();
	margin-top: 4em;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: inherit;
}

.new-address {
	.make-md-column(5);
	margin-top: 2em;
}

.addrForm-elem-group {
	.form-group;

}

.form-label {

}

.addrForm-elem {
	.form-control;
}

.right-container {
	.make-md-column(7);
	margin-top: 2em;
}

.checkout-summary {
	.make-row();
}

.checkout-product {
	.make-row();
}

.checkout-product-data {
	.make-md-column(3);
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	color: #696969;
}

.checkout-product-title {
	.checkout-product-data;
	font-size: 1.5em;
}

.checkout-product-size {
	.checkout-product-data;
}

.checkout-product-color {
	.checkout-product-data;
}

.checkout-product-price {
	.checkout-product-data;
}

.checkout-summary-total {
	font-size: 1.5em;
	color: #696969;
	.make-md-column(3);
	.make-md-column-offset(9);
}