.checkout-container {
	.make-row();
}

.saved-address-container {
	.make-row();
}

.saved-address {
}

.new-address {
	.make-md-column(5);
	//.make-md-column-offset(1)
}

.addrForm-elem-group {
	.form-group;

}

.form-label {

}

.addrForm-elem {
	.form-control;
}

.right-container {
	.make-md-column(7);
}

.checkout-summary {
	.make-row();
}

.checkout-product-data {
	.make-md-column(2);
	.make-md-column-offset(1);
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	color: #5A7CC2;
}

.checkout-product-title {
	.checkout-product-data;
	.make-md-column(3);
	.make-md-column-offset(0);
	font-size: 1.5em;
}

.checkout-product-size {
	.checkout-product-data;
}

.checkout-product-color {
	.checkout-product-data;
}

.checkout-product-price {
	.checkout-product-data;
}

.checkout-summary-total {
	font-size: 1.5em;
	color: #5A7CC2;
	.make-md-column(3);
	.make-md-column-offset(9);
}