.order-product-container {
	.cart-product-container;
}

.order-product {
	.cart-elem;

	&:hover {
		background-color: #D3D3D3;
		color: #222222;
		cursor: pointer;
	}
}

.product-info-container {
	.cart-info-container;
}

.order-data-row {
	.cart-data-row;
}

.order-product-img {
	.cart-elem-img;
}

.order-product-data {
	.cart-elem-data;
}

.order-product-title {
	.cart-elem-title;
}

.order-product-size {
	.order-product-data;
}

.order-product-brand {
	.cart-elem-data;
}

.order-product-quantity {
	.cart-elem-data;
}

.order-product-totalprice {
	.order-product-data;
}

.order-product-price {
	.order-product-data;
}

.order-product-color {
	.order-product-data;
}

.order-product-total {
	.cart-total;
}
