<div class="header-image">
  <h1>Un paso más</h1>
</div>
<br>

<div class="row">
	<div class="col-md-6">
    <div class="panel panel-default">
      <div class=panel-heading>
        <h3>Registrarse</h3>
      </div>
      <div class=panel-body>
        <form class="form-horizontal">
          <div class="form-group">
          <label class="col-md-3 control-label" for="user">Usuario</label>
          <div class="col-md-9">
            <input type="text" id="user" class="form-control">
          </div>
          </div>
          <div class="form-group">
          <label class="col-md-3 control-label" for="pass">Contraseña</label>
          <div class="col-md-9">
            <input type="password" id="pass" class="form-control">
          </div>
          </div>
          <div class="form-group">
          <label class="col-md-3 control-label" for="name">Nombre/s</label>
          <div class="col-md-9">
            <input type="text" id="name" class="form-control">
          </div>
          </div>
          <div class="form-group">
          <label class="col-md-3 control-label" for="surname">Apellido/s</label>
          <div class="col-md-9">
            <input type="text" id="surname" class="form-control">
          </div>
          </div>
          <div class="form-group">
          <label class="col-md-3 control-label">Género</label>
          <div class="col-md-9" >
            <select class="form-control">
              <option>Hombre</option>
              <option>Mujer</option>
              <option>Otro</option>
            </select>
          </div>
          </div>
          <div class="form-group">
          <label class="col-md-3 control-label" for="dni">DNI</label>
          <div class="col-md-9">
            <input type="text" maxlength="8" id="dni" class="form-control">
          </div>
          </div>
          <div class="form-group">
          <label class="col-md-3 control-label" for="e-mail">E-mail</label>
          <div class="col-md-9">
            <input type="email" id="e-mail" class="form-control">
          </div>
          </div>
          <div class="form-group">
          <label class="col-md-3 control-label">Fecha de Nacimiento</label>
            <div class="col-md-9">
              <div class=row>
                <div class="col-md-4">
                  <input type="text" class="form-control" maxlength="2" placeholder="DD">
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" maxlength="2" placeholder="MM">
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" maxlength="4" placeholder="AAAA">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
              <button type="submit" class="btn btn-success">Registrarse</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-5 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Iniciar sesión</h3>
      </div>
      <div class=panel-body>
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-md-3 control-label" for="user-sign">Usuario</label>
            <div class="col-md-9">
              <input type="text" id="user-sign" class="form-control">
            </div>
          </div>
          <div class="form-group">
          <label class="col-md-3 control-label" for="pass-sign">Contraseña</label>
          <div class="col-md-9">
            <input type="password" id="pass-sign" class="form-control">
          </div>
          </div>
          <div class="form-group">
          <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
