<div class="header-image">
  <h1>Un paso más</h1>
</div>
<br>

<div class="row">
	<div class="col-md-6">
    <div class="panel panel-default">
      <div class=panel-heading>
        <h3>Registrate</h3>
        <small>Todos los campos son obligatorios.</small>
      </div>
      <div class=panel-body>
        <form novalidate class="form-horizontal" name=signupForm ng-submit="signUp()">
          <div class=form-group ng-class="{'has-error': submittedSignUp && signupForm.username.$invalid}">
            <label class="col-md-3 control-label" for="signup-username-input">Usuario</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name=username id="signup-username-input"
                ng-model="signup.username"  required ng-minlength="6" ng-maxlength="15" ng-pattern="/^[\wáéíóúÁÉÍÓÚñÑ]+$/"
              >
              <span class="help-block"><small>(entre 6 y 15 letras y/o números)</small></span>
            </div>
          </div>
          <div class=form-group ng-class="{'has-error': submittedSignUp && signupForm.password.$invalid}">
            <label class="col-md-3 control-label" for="signup-password-input">Contraseña</label>
            <div class="col-md-9">
              <input type="password" id="signup-password-input" name=password class="form-control"
              ng-model=signup.password  required ng-maxlength="15" ng-minlength="8">
              <span class="help-block"><small>(entre 8 y 15 caracteres)</small></span>
            </div>
          </div>
          <div class=form-group ng-class="{'has-error': submittedSignUp && signupForm.firstName.$invalid}">
          <label class="col-md-3 control-label" for="signup-firstName-input">Nombre/s</label>
          <div class="col-md-9">
            <input type="text" id="signup-firstName-input" name=firstName class="form-control"
              ng-model=signup.firstName  required ng-pattern="/^[a-zA-ZáéíóúÁÉÍÓÚñÑ' ]+$/" ng-maxlength="80"
            >
              <span ng-show="signupForm.firstName.$error.maxlength" class="help-block"><small>El nombre ingresado es muy largo.</small></span>
              <span ng-show="submittedSignUp && signupForm.firstName.$error.required" class="help-block">
                <small>Debés ingresar tu nombre.</small>
              </span>
          </div>
          </div>
          <div class=form-group ng-class="{'has-error': submittedSignUp && signupForm.lastName.$invalid}">
          <label class="col-md-3 control-label" for="signup-lastName-input">Apellido/s</label>
          <div class="col-md-9">
            <input type="text" id="signup-lastName-input" name=lastName  class="form-control"
              ng-model=signup.lastName required ng-maxlength="80" ng-pattern="/^[a-zA-ZáéíóúÁÉÍÓÚñÑ' ]+$/"
            >
            <span ng-show="signupForm.lastName.$error.maxlength" class="help-block">
              <small>El apellido ingresado es muy largo.</small>
            </span>
            <span ng-show="submittedSignUp && signupForm.lastName.$error.required" class="help-block">
              <small>Debés ingresar tu apellido.</small>
            </span>
          </div>
          </div>
          <div class=form-group ng-class="{'has-error': submittedSignUp && signupForm.gender.$invalid}">
            <label class="col-md-3 control-label" for="signup-gender-input">Género</label>
            <div class="col-md-9" >
              <select class="form-control" id="signup-gender-input" name=gender ng-model=signup.gender required>
                <option value="M">Hombre</option>
                <option value="F">Mujer</option>
              </select>
              <span ng-show="submittedSignUp && signupForm.gender.$error.required" class="help-block">
                <small>Debés elegir un género.</small>
              </span>
            </div>
          </div>
          <div class=form-group ng-class="{'has-error': submittedSignUp && signupForm.identityCard.$invalid}">
            <label class="col-md-3 control-label" for="signup-identityCard-input">DNI</label>
            <div class="col-md-9">
              <input type="text" id="signup-identityCard-input" name=identityCard class="form-control"
                ng-model=signup.identityCard required ng-pattern="/^\d+$/" ng-maxlength=10
              >
              <span ng-show="submittedSignUp && signupForm.identityCard.$error.required" class="help-block">
                <small>Debés ingresar tu número de DNI.</small>
              </span>
            </div>
          </div>
          <div class=form-group ng-class="{'has-error': submittedSignUp && signupForm.email.$invalid}">
            <label class="col-md-3 control-label" for="signup-email-input">Email</label>
            <div class="col-md-9">
              <input type="email" id="signup-email-input" class="form-control" name=email
                ng-model=signup.email required ng-maxlength="128"
              >

              <span ng-show="submittedSignUp && signupForm.email.$invalid " class="help-block">
                <small>Debés ingresar un email válido.</small>
              </span>
            </div>
          </div>
          <div class="form-group">
          <label class="col-md-3 control-label">Fecha de Nacimiento</label>
            <div class="col-md-9">
              <div class=row>
                <div class="col-md-4">
                  <input type="text" class="form-control" maxlength="2" placeholder="DD">
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" maxlength="2" placeholder="MM">
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" maxlength="4" placeholder="AAAA">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
              <button type="submit" class="btn btn-success">Registrarse</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-5 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Iniciar sesión</h3>
      </div>

      <div class=panel-body>
        <form novalidate name=signinForm class="form-horizontal" ng-submit="signIn()">
          <div class="form-group" ng-class="{'has-error': submittedSignIn && signinForm.username.$invalid}">
            <label class="col-md-3 control-label" for="signin-username-input">Usuario</label>
            <div class="col-md-9">
              <input type="text" ng-model="signin.username" id="signin-username-input" name=username class="form-control" required>
            </div>
          </div>
          <div class="form-group" ng-class="{'has-error': submittedSignIn && signinForm.password.$invalid}">
            <label class="col-md-3 control-label" for="signin-password-input">Contraseña</label>
            <div class="col-md-9">
              <input type="password" ng-model="signin.password" id="signin-password-input" name=password class="form-control" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
              <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
