<div class="header-image header-image-shopping">
  <h1>Carrito</h1>
</div>

<div class="product-container">
  <div class="cart-elem" ng-repeat="product in products">
    <img class="cart-elem-img" src="http://placehold.it/150x150" alt="...">
    <div class="info-container">
      <h2 class="cart-elem-title">{{ product.title }}</h2>
      <span class="cart-elem-size">Talle: {{ product.size }}</span>
      <span class="cart-elem-color">Color: {{ product.color }}</span>
      <span class="cart-elem-price">Precio: ${{ product.price }}</span>
    </div>
    <button type="button" class="cart-elem-del" animate remove="remove($index)">x</button>
  </div>
  <span class="cart-total">Total: ${{ runningTotal() }}</span>
  <button type="button" class="btn btn-default cart-submit">Checkout</button>
</div>

