<div class="header-image header-image-shopping">
  <h1>Carrito</h1>
</div>

<div class="cart-container">
  <div class="cart-product-container">
    <div class="cart-elem" ng-repeat="product in products" ng-click="goOrder(product.product.id)">
      <img class="cart-elem-img" ng-src="{{product.product.imageUrl}}" alt="...">
      <div class="cart-info-container">
        <h2 class="cart-elem-title">{{ product.product.name }}</h2>
        <div class="cart-data-row">
          <span class="cart-elem-data">Color: {{ product.color }}</span>
          <span class="cart-elem-data">Marca: {{ product.brand }}</span>
        </div>
        <div class="cart-data-row">
          <span class="cart-elem-data">Cantidad: {{ product.quantity }}</span>
          <span class="cart-elem-data">Precio por Unidad: ${{ (product.price).toFixed(2) }}</span>
          <span class="cart-elem-data">Precio Total: ${{ (product.price * product.quantity).toFixed(2) }}</span>
        </div>
      </div>
      <button type="button" class="cart-elem-del" animate remove="remove($index)">x</button>
    </div>
    <span class="cart-total">Total: ${{ (runningTotal()).toFixed(2) }}</span>
    <button type="button" class="cart-submit" ng-click="go('/checkout')">Retirar productos</button>
  </div>
</div>

