<div class="header-image">
  <h1>Checkout</h1>
</div>

<div class="checkout-container">

	<div class="checkout-summary">
		<div class="checkout-product" ng-repeat="product in products">
			<span class="checkout-product-title">{{ product.product.name }}</span>
         	<span class="checkout-product-data">Talle: {{ product.size }}</span>
          	<span class="checkout-product-data">Color: {{ product.color }}</span>
          	<span class="checkout-product-data">Cantidad: {{ product.quantity }}</span>
          	<span class="checkout-product-data">Precio Unitario: ${{ product.price }}</span>
		</div>
		<span class="checkout-summary-total">Total: {{runningTotal()}}</span>
	</div>

	<div class="saved-address-container">
		<div class="panel panel-default">
			<div class=panel-heading>
        		<h3>Elegí una Dirección</h3>
      		</div>
      		<div class=panel-body>
				<div class="saved-address" ng-repeat="address in addresses" ng-click="loadSavedAddress($index)">
					<span class="saved-address-data">Nombre: {{ address.name }}</span>
					<span class="saved-address-data">Dirección: {{ address.street }} {{ address.number }}, {{ address.floor }} {{ address.gate }}</span>
					<span class="saved-address-data">Ciudad: {{ address.city }}, {{ address.province }}</span>
					<span class="saved-address-data">Código Postal: {{ address.zipCode }}</span>
					<span class="saved-address-data">Teléfono: {{ address.phoneNumber }}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="address">
		<div class="panel panel-default">
			<div class=panel-heading>
        		<h3>o Ingresá una Nueva</h3>
        		<small>Todos los campos son obligatorios.</small>
      		</div>
      		<div class=panel-body>
				<form role="form">
					<div class="address-form-body">
						<div class="address-form-column">
							<div class="addrForm-elem-group">
								<label class="form-label" for="name">Nombre</label>
								<input class="addrForm-elem" id="name" ng-model="currentAddr.name" ng-change="changeAddressState(false)" type="text" required="required">
							</div>
							<div class="addrForm-elem-group">
								<label class="form-label" for="street">Calle</label>
								<input class="addrForm-elem" id="street" ng-model="currentAddr.street" ng-change="changeAddressState(false)" type="text" required="required">
							</div>
							<div class="addrForm-elem-group">
								<label class="form-label" for="door">Altura</label>
								<input class="addrForm-elem" id="door" ng-model="currentAddr.number" ng-change="changeAddressState(false)" type="text" required="required">
							</div>
							<div class="addrForm-elem-group">
								<label class="form-label" for="floor">Piso</label>
								<input class="addrForm-elem" id="floor" ng-model="currentAddr.floor" ng-change="changeAddressState(false)" type="text" required="required">
							</div>
							<div class="addrForm-elem-group">
								<label class="form-label" for="apartment">Departamento</label>
								<input class="addrForm-elem" id="apartment" ng-model="currentAddr.gate" ng-change="changeAddressState(false)" type="text" required="required">
							</div>
						</div>
						<div class="address-form-column">
							<div class="addrForm-elem-group">
								<label class="form-label" for="province">Provincia</label>
								<input class="addrForm-elem" id="province" ng-model="currentAddr.province" ng-change="changeAddressState(false)" type="text" required="required">
							</div>
							<div class="addrForm-elem-group">
								<label class="form-label" for="city">Ciudad</label>
								<input class="addrForm-elem" id="city" ng-model="currentAddr.city" ng-change="changeAddressState(false)" type="text" required="required">
							</div>
							<div class="addrForm-elem-group">
								<label class="form-label" for="zipCode">Código Postal</label>
								<input class="addrForm-elem" id="zipCode" ng-model="currentAddr.zipCode" ng-change="changeAddressState(false)" type="text" required="required">
							</div>
							<div class="addrForm-elem-group">
								<label class="form-label" for="phone">Teléfono</label>
								<input class="addrForm-elem" id="phone" ng-model="currentAddr.phoneNumber" ng-change="changeAddressState(false)" type="tel" required="required">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="payment-choice">
		<div class="panel panel-default">
			<div class=panel-heading>
				<h3>Elegí un Método de Pago</h3>
			</div>
			<div class=panel-body>
				<input ng-model="paymentMethod" type="radio" value="cash">Efectivo<br/>
				<input ng-model="paymentMethod" type="radio" value="card">Tarjeta de Crédito<br/>
			</div>
		</div>
	</div>

	<div class="credit-card-information" ng-show="paymentMethod=='card'">
		<div class="col-md-8">
			<div class="saved-cards">
				<div class=panel-heading>
        			<h3>Elegí una tarjeta</h3>
      			</div>
      			<div class=panel-body>
      				<div class="saved-card" ng-repeat="card in cards" ng-click="loadSavedCard($index)">
					<span class="saved-card-data">Número: {{ card.number }}</span>
					<span class="saved-card-data">Código de Seguridad: {{ card.securityCode }}</span>
					<span class="saved-card-data">Fecha de Expiración: {{ card.expirationDate }}</span>
				</div>
      			</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="new-card">
				<div class=panel-heading>
        			<h3>o Ingresá una Nueva</h3>
        			<small>Todos los campos son obligatorios.</small>
      			</div>
      			<div class=panel-body>
      				<label class="form-label">Tipo de Tarjeta</label>
      				<div class="card-type">
      					<div class="col-md-6">
      						<input ng-model="cardType" ng-change="changeCardState(false)" type="radio" value="amex">American Express<br/>
							<input ng-model="cardType" ng-change="changeCardState(false)" type="radio" value="mcard">Master Card<br/>
						</div>
						<div class="col-md-6">
							<input ng-model="cardType" ng-change="changeCardState(false)" type="radio" value="visa">Visa<br/>
							<input ng-model="cardType" ng-change="changeCardState(false)" type="radio" value="diners">Diners<br/>
						</div>
      				</div>
					<div class="addrForm-elem-group">
						<label class="form-label" for="phone">Número de Tarjeta</label>
						<input class="addrForm-elem" id="phone" ng-model="currentCard.number" ng-change="changeCardState(false)" type="text" required="required">
					</div>
					<div class="addrForm-elem-group">
						<label class="form-label" for="phone">Fecha de Expiración</label>
						<input class="addrForm-elem" id="phone" ng-model="currentCard.expirationDate" ng-change="changeCardState(false)" type="text" required="required">
					</div>
					<div class="addrForm-elem-group">
						<label class="form-label" for="phone">Código de Seguridad</label>
						<input class="addrForm-elem" id="phone" ng-model="currentCard.securityCode" ng-change="changeCardState(false)" type="text" required="required">
					</div>
      			</div>
			</div>
		</div>
	</div>

	<button type="button" class="checkout-submit" ng-click="checkout()"> Finalizar Compra </button>
</div>