<div class="header-image">
  <h1>Ayuda</h1>
</div>

<div>
	<h3><p>¿Necesito hacerme una cuenta para comprar en Hipster Shop?</p></h3>
	<p>Si, es necesario que crees una cuenta. Para crear una cuenta nueva hacé click en la parte superior izquierda del sitio donde dice "Registrate"</p>

	<h3><p>¿Cómo hago una orden de compra?</p></h3>
	<p>Desde la página de selección de productos, elegí los que querés comprar haciendo click en "Agregar al carrito". Una vez termines, seleccioná "Retirar productos". Allí podés ingresar tus datos de pago para concluir la compra y recibir tus nuevos productos.</p>

	<h3><p>¿Cómo busco productos?</p></h3>
	<p>Una vez que hayas seleccionado buscar ropa de hombre o de mujer, vas a poder ver una lista de nuestros productos. Para mejorar y afinar tu búsqueda, seleccioná los filtros de categorías que creas convenientes para visualizarlos en la lista.</p>

	<h3><p>¿Qué es la "Lista de deseos"? Cómo funciona?</p></h3>
	<p>La "Lista de deseos" es una lista donde podés guardar los productos que más te gustan pero aún no te decidiste por comprarlos. Una vez creada tu cuenta, podés revisar los productos que guardaste en visitas anteriores en cualquier momento seleccionando. La opción de "Ver lista de deseos" se encuentra en la parte superior derecha del sitio.</p>

	<h3><p>¿Cómo se qué talle soy en Hipster Shop?</p></h3>
	<p>Hipster Shop se maneja con talles internacionales: “S” (Small, Pequeño), “M” (Medium, Mediano), y “L” (Large, Grande).</p>

	<h3><p>¿Qué métodos de pago aceptan?</p></h3>
	<p>Aceptamos tarjetas de crédito Visa, MasterCard, Diners y American Express. Además podés elegir pagar con efectivo y te cobraran cuando te entreguen tus productos</p>

	<h3><p>¿En qué momento se va a efectuar el pago?</p></h3>
	<p>El pago se va a realizar al momento que selecciones el botón “Finalizar” luego de ingresar tus datos de compra en caso de pagar con tarjeta de crédito. En caso de pagar en efectivo te cobraran cuando te entreguen tus productos</p>

	<h3><p>¿Compré un producto. Cuándo lo voy a recibir?</p></h3>
	<p>Hipster Shop envía sus productos vía USPS. Usualmente, los envíos demoran de 3 a 5 días hábiles.</p>

	<h3><p>¿Cuál es la política de cambios y devoluciones de Hipster Shop?</p></h3>
	<p>Todas las compras en Hipster Shop son finales, ya que sólo trabajamos ropa de estilo. No aceptamos reclamos de cambios de talles/modelos o devoluciones de ningún tipo, exceptuando fallas de fábrica. En ese caso, envianos tu producto, y te vamos a ofrecer otro que elijas por el valor del producto que devolviste.</p>

	<h3><p>¿Cuál es la mejor manera de visualizar el sitio de Hipster Shop?</p></h3>
	<p>Te recomendamos usar la última versión de Google Chrome o bien de Mozilla Firefox.</p>

	<h3><p>¿Hipster Shop utiliza cookies?</p></h3>
	<p>Si, es necesario tener las cookies habilitadas en tu navegador para usar Hipster Shop.</p>
</div>