<img src="./img/hipster.png" class="img-responsive" alt="Hipster Image">
<div class="col-md-12">
	<div class="row genres-home">
		<div class="col-md-6">
      <div class=row>
        <div class="col-md-5">
          <img src="./img/women.png" class="img-responsive" alt="Woman">
        </div>

        <div class="col-md-7">
          <h3>Mujeres</h3>

          <div class=row>
            <div class="col-md-6">
              <ul class="nav">
                <li ng-repeat="category in categories1M"><a href=#/products?gender=f&categoryId={{category.id}}>{{ category.name }}</a></li>
              </ul>
            </div>

            <div class="col-md-6">
              <ul class="nav">
                <li ng-repeat="category in categories2M"><a href=#/products?gender=f&categoryId={{category.id}}>{{ category.name }}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
		</div>

		<div class="col-md-6">
      <div class=row>
        <div class="col-md-5">
          <img src="./img/men.png" class="img-responsive" alt="Man">
        </div>

        <div class="col-md-7">
          <h3>Hombres</h3>

          <div class=row>
            <div class="col-md-6">
              <ul class="nav">
                <li ng-repeat="category in categories1H"><a href=#/products?gender=m&categoryId={{category.id}}>{{ category.name }}</a></li>
              </ul>
            </div>

            <div class="col-md-6">
              <ul class="nav">
                <li ng-repeat="category in categories2H"><a href=#/products/gender=m&categoryId={{category.id}}>{{ category.name }}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>

  <div class=featured ng-repeat="section in sections">
    <h2>{{ section.name }}</h2>
    <div class="row">
      <div class="col-md-3 text-center" ng-repeat="product in section.products">
        <a href="#/products/{{ product.id }}" class="thumbnail thumbnail-infinite featured-thumbnail">
          <img ng-src="{{product.imageUrl[0]}}" alt="{{ product.name }}">
          <span class="caption">{{ product.name }}</span>
        </a>
      </div>
    </div>
  </div>
</div>
