<img src="./img/hipster.png" class="img-responsive" alt="Hipster Image">
<div class="col-md-12">
	<div class="row genres-home">
		<div class="col-md-6">
      <div class=row>
        <div class="col-md-5">
          <img src="./img/women.png" class="img-responsive" alt="Woman">
        </div>

        <div class="col-md-7">
          <h3>Mujer</h3>

          <div class=row>
            <div class="col-md-6">
              <ul class="nav">
                <li ng-repeat="category in categories1"><a href=#>{{ category.title }}</a></li>
              </ul>
            </div>

            <div class="col-md-6">
              <ul class="nav">
                <li ng-repeat="category in categories2"><a href=#>{{ category.title }}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
		</div>

		<div class="col-md-6">
      <div class=row>
        <div class="col-md-5">
          <img src="./img/men.png" class="img-responsive" alt="Man">
        </div>

        <div class="col-md-7">
          <h3>Hombre</h3>

          <div class=row>
            <div class="col-md-6">
              <ul class="nav">
                <li ng-repeat="category in categories1"><a href=#>{{ category.title }}</a></li>
              </ul>
            </div>

            <div class="col-md-6">
              <ul class="nav">
                <li ng-repeat="category in categories2"><a href=#>{{ category.title }}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>

  <div class=featured>
    <h2>Destacados de la semana</h2>
    <div class="row">
      <div class="col-md-4 text-center" ng-repeat="product in products">
        <a href="#/products/{{ product.id }}" class="thumbnail thumbnail-infinite featured-thumbnail">
          <img src="http://placehold.it/250x250" alt="{{ product.title }}">
          <span class="caption">{{ product.title }}</span>
        </a>
      </div>
    </div>
  </div>
</div>
