<div class="header-image">
  <h1>Pedidos</h1>
</div>


<div class="order-container">
  <div class="order" ng-repeat="order in orders">
    <h6>Pedido nro: {{ order.orderno }}</h6>
    <div class="order-elem" ng-repeat="product in order.products" ng-click="goOrder( order.orderno )">
      <span class="order-elem-title">{{ product.title }}</span>
      <span class="order-elem-size">Talle: {{ product.size }}</span>
      <span class="order-elem-color">Color: {{ product.color }}</span>
      <span class="order-elem-price">Precio: ${{ product.price }}</span>
    </div>
    <span class="order-total">Total: {{runningTotal(order.orderno)}}</span>
  </div>
</div>

