<div class="header-image header-image-women">
  <h1>{{ breadcrumbLast.name }}</h1>
</div>

<ol class="breadcrumb">
  <li><a href="#/home">Inicio</a></li>
  <li ng-repeat="each in breadcrumb"><a href="{{each.url}}">{{ each.name }}</a></li>
  <li class="active">{{ breadcrumbLast.name }}</li>
</ol>

<div class=row>
  <div class="col-md-3" ng-include="'partials/sidebar.html'">
  </div>

  <div class="col-md-9">
    <form class="">
      <div class=row>
        <div class="col-md-4">
          <div class="form-group">
            <label for=order-by-input>Ordenar</label>
            <select ng-model=order id=order-by-input class="form-control input-sm form-control-horizontal-with-label">
              <option value=title>alfábeticamente</option>
              <option value=brand>por marca</option>
              <option value=price>por precio</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for=filter-by-age-input>Edad</label>
            <select id=filter-by-age-input class="form-control input-sm form-control-horizontal-with-label">
              <option>adulto</option>
              <option>infantil</option>
            </select>
          </div>
        </div>
      </div>
    </form>
    <div class="text-center" ui-if="products.length == 0">
      <small>No encontramos ningún producto con las características que buscabas.<br> Probá otra búsqueda o seleccioná otra categoría.</small>
    </div>
    <div class="row">
      <div class="col-md-4" ng-repeat="product in products | orderBy: order">
        <div class="thumbnail thumbnail-infinite">
          <a href="#/products/{{ product.id }}" class=thumbnail>
            <img ng-src="{{ product.imageUrl }}" alt="{{ product.title }}">
          </a>
          <div class=caption>
            <h4><a href="#/products/{{ product.id }}">{{ product.title }}</a></h4>
            <p><small>${{ product.price }} - {{ product.brand }} </small></p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
