<div class="header-image header-image-women">
  <h1>Mujeres.</h1>
</div>
<ol class="breadcrumb">
  <li><a href="#">Inicio</a></li>
  <li><a href="#">Remeras</a></li>
  <li class="active">Manga corta</li>
</ol>

<div class=row>
  <div class="col-md-3" ng-include="'partials/sidebar.html'">
  </div>

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-4" ng-repeat="product in products">
        <a href="#/products/{{ product.id }}" class="thumbnail thumbnail-infinite">
          <img src="http://placehold.it/250x250" alt="...">
          <span class=caption>{{ product.title }} - {{ product.price }}</span>
        </a>
      </div>
    </div>
  </div>
</div>
