<div class="header-image {{ header }}">
  <h1>{{ breadcrumbLast.name }}</h1>
</div>

<ol class="breadcrumb">
  <li><a href="#/home">Inicio</a></li>
  <li ng-repeat="each in breadcrumb"><a ng-click="reload()" href="{{each.url}}">{{ each.name }}</a></li>
  <li class="active">{{ breadcrumbLast.name }}</li>
</ol>

<div class=row>
  <div class="col-md-3" ng-include="'partials/sidebar.html'">
  </div>

  <div class="col-md-9">
    <form class="">
      <div class=row>
        <div class="col-md-4">
          <div class="form-group">
            <label for=order-by-input>Ordenar</label>
            <select ng-model=order ng-change="changeOrder()" id=order-by-input class="form-control input-sm form-control-horizontal-with-label">
              <option value=nombre>alfabéticamente</option>
              <option value=marca>por marca</option>
              <option value=precio>por precio</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for=filter-by-age-input>Edad</label>
            <select ng-model=ageFilter ng-change="changeAgeFilter()"
              id=filter-by-age-input class="form-control input-sm form-control-horizontal-with-label"
              >
              <option value=Adulto>adulto</option>
              <option value=Infantil>infantil</option>
              <option value=Bebe>bebé</option>
            </select>
          </div>
        </div>
      </div>
    </form>
    <div class="text-center" ui-if="products.length == 0">
      <small>No encontramos ningún producto con las características que buscabas.<br> Probá otra búsqueda o seleccioná otra categoría.</small>
    </div>
    <div class="row">
      <div class="col-md-4" ng-repeat="product in products">
        <div class="thumbnail thumbnail-infinite">
          <a href="#/products/{{ product.id }}" class=thumbnail>
            <img ng-src="{{ product.imageUrl }}" alt="{{ product.title }}">
          </a>
          <div class=caption>
            <h4><a href="#/products/{{ product.id }}">{{ product.title }}</a></h4>
            <p><small>${{ product.price }} - {{ product.brand }} </small></p>
          </div>
        </a>
      </div>
    </div>
  </div>

<ul class="pagination pull-right">
  <li ng-class="{disabled: previousPage == 0}">
    <a ng-show="previousPage != 0"href="" ng-click="changePage(previousPage)">&laquo;</a>
    <span ng-show="previousPage == 0">&laquo;</span>
  </li>
  <li ng-repeat="n in [] | range:totalPages" ng-class="{active: n+1 == currentPage}"><a href="" ng-click="changePage(n+1)">{{n + 1}}</a></li>

  <li ng-class="{disabled: (currentPage == totalPages || totalPages == 0)}">
    <span ng-show="currentPage == totalPages || totalPages == 0">&raquo;</span>
    <a ng-show="currentPage != totalPages && totalPages != 0" href="" ng-click="changePage(nextPage)">&raquo;</a></li>
  </li>
</ul>
</div>
