<div class="header-image header-image-women">
    <h1>{{ product.title }}</h1>
</div>

<ol class="breadcrumb">
  <li><a href="#/home">Inicio</a></li>
  <li><a href="#">{{ product.category.name }}</a></li>
  <li><a href="#">{{ product.subcategory.name }}</a></li>
  <li class="active">{{ product.title }}</li>
</ol>

<div class=row>
  <div class="col-md-3" ng-include="'partials/sidebar.html'"></div>

  <div class="col-md-9">
    <div class=row>
	  <div class=col-md-6>
		<img src="{{ product.imageUrl[0] }}" class="img-rounded img-responsive" alt="{{ product.title }}">
		<div class=col-md-3 ng-repeat="img in product.imageUrl">
			<img src="{{ img }}" class="img-thumbnail img-responsive" alt="{{ product.title }}">
		</div>
	  </div>

      <div class=col-md-6>
        <div class="panel panel-default">
          <div class=panel-body>
            <h3>{{ product.title }}</h3>
            <form class=form-horizontal>
              <div class=form-group>
                <label class="col-md-3 control-label">Precio:</label>
                <div class=col-md-7>
                  <p class=form-control-static>${{ product.price }}</p>
                </div>
              </div>
              <div class=form-group>
                <label class="col-md-3 control-label">Marca:</label>
                <div class=col-md-7>
                  <p class=form-control-static>{{ product.brand }}</p>
                </div>
              </div>
              <div class=form-group>
                <label class="col-md-3 control-label">Color:</label>
                <div class=col-md-7>
                  <p class=form-control-static>{{ product.color }}</p>
                </div>
              </div>
			  <div class=form-group>
                <label class="col-md-3 control-label">Material:</label>
                <div class=col-md-7>
                  <p class=form-control-static>{{ product.matter }}</p>
                </div>
              </div>
			  <div class=form-group>
                <label class="col-md-3 control-label">Talles:</label>
                <div class=col-md-7>
                  <div class="btn-group">
					<button type="button" class="btn btn-default" ng-repeat="size in product.size">{{ size }}</button>
				  </div>
                </div>
              </div>
              <div class=form-group>
                <label class="col-md-3 control-label">Cantidad:</label>
                <div class=col-md-3>
                  <input type=number value=1 min=1 class=form-control>
                </div>
              </div>

              <div class=form-group>
                <div class="col-md-4">
                  <button type="button" class="btn btn-success btn-lg">Agregar al carrito</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
