<div class="header-image {{ header }}">
    <h1>{{ product.name }}</h1>
</div>

<ol class="breadcrumb">
  <li><a href="#/home">Inicio</a></li>
  <li ng-repeat="each in breadcrumb"><a href="{{each.url}}">{{ each.name }}</a></li>
  <li class="active">{{ product.name }}</li>
</ol>

<div class="alert alert-success alert-dismissable animate-show" ng-show="showMsgCart" ng-hide="!showMsgCart">
  <button type="button" class="close" data-dismiss="alert" ng-click="showMsgCart = false">&times;</button>
  Se ha agregado el producto al carrito.
</div>

<div class="alert alert-info alert-dismissable" ng-show="showMsgWishlist" ng-hide="!showMsgWishlist">
  <button type="button" class="close" data-dismiss="alert" ng-click="showMsgWishlist = false">&times;</button>
  Se ha agregado el producto a la lista de deseos.
</div>

<div class="alert alert-danger alert-dismissable" ng-show="error" ng-hide="!error">
  <button type="button" class="close" data-dismiss="alert" ng-click="error = false">&times;</button>
  Se ha producido un error.
</div>

<div class=row>
  <div class=col-md-4>
    <img ng-src="{{ currentImage }}" class="img-rounded img-responsive" alt="{{ product.name }}">
    <div class=row>
      <div class=col-md-3 ng-repeat="imgUrl in product.imageUrl">
        <img ng-src="{{ imgUrl }}" ng-mouseenter="changeImage(imgUrl)"class="img-thumbnail img-responsive" alt="{{ product.name }}">
      </div>
    </div>
  </div>
  
  <div class="col-md-7 col-md-offset-1">
    <div class="panel panel-default">
      <div class=panel-body>
        <h3>{{ product.name }}</h3>
        <form class=form-horizontal>
          <div class=form-group>
            <label class="col-md-3 control-label">Precio:</label>
            <div class=col-md-7>
              <p class=form-control-static>${{ product.price }}</p>
            </div>
          </div>
          <div class=form-group>
            <label class="col-md-3 control-label">Marca:</label>
            <div class=col-md-7>
              <p class=form-control-static>{{ product.brand }}</p>
            </div>
          </div>
          <div class=form-group>
            <label class="col-md-3 control-label">Color:</label>
            <div class=col-md-7>
              <p class=form-control-static>{{ product.color }}</p>
            </div>
          </div>
          <div class=form-group>
            <label class="col-md-3 control-label">Cantidad:</label>
            <div class=col-md-3>
              <input type=number value=1 min=1 class=form-control ng-model="quantity">
            </div>
          </div>

          <div class=form-group>
            <div class="col-md-4">
              <button type="button" class="btn btn-success btn-lg" ng-click="addToCart()">Agregar al carrito</button>
            </div>
			<div class="col-md-4">
              <button type="button" class="btn btn-info btn-lg" ng-click="addToWishlist()">Agregar a lista de deseos</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
