<ul class="nav nav-pills nav-stacked">
  <li ng-repeat="category in categories" ng-class="{active: category.active }">
  <a href="" ng-click="changeProductsCategory(category)">
      {{ category.title }}
    </a>

    <ul class=sub-nav ui-if="category.active">
      <li ng-repeat="subcategory in category.subcategories"  ng-class="{active: subcategory.active }">
        <a href="" ng-click="changeProductsSubcategory(category, subcategory)">
          {{subcategory.title}}
        </a>
      </li>
    </ul>
</ul>
