<div class="header-image header-image-shopping">
  <h1>Perfil de usuario</h1>
</div>
<br>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Datos de usuario</h3>
      </div>

      <div class=panel-body>
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-md-5 control-label">Nombre/s</label>
            <div class="col-md-7">
              <label class="control-label">PONER NOMBRE</label>
            </div>
          </div>
		  
          <div class="form-group">
            <label class="col-md-5 control-label">Apellido/s</label>
            <div class="col-md-7">
              <label class="control-label">PONER APELLIDO</label>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-5 control-label">E-mail</label>
            <div class="col-md-7">
              <label class="control-label">PONER MAIL</label>
            </div>
          </div>
		  
          <div class="form-group">
            <label class="col-md-5 control-label">Fecha de nacimiento</label>
            <div class="col-md-7">
              <label class="control-label">PONER FECHA NACIMIENTO</label>
            </div>
          </div>
		  
          <div class="form-group">
            <label class="col-md-5 control-label">Fecha de creacion</label>
            <div class="col-md-7">
              <label class="control-label">PONER FECHA CREACION</label>
            </div>
          </div>
		  
          <div class="form-group">
            <label class="col-md-5 control-label">Último inicio de sesión</label>
            <div class="col-md-7">
              <label class="control-label">PONER ULTIMA SESION</label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-5 col-md-7">
              <button type="submit" class="btn btn-primary">Modificar datos</button>
            </div>
          </div>
		  
        </form>
      </div>
    </div>
	
	 <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Modificar datos</h3>
      </div>

      <div class=panel-body>
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-md-5 control-label" for="change-name-input">Nombre/s</label>
            <div class="col-md-7">
              <input type="text" id="change-name-input" name=username class="form-control" required>
            </div>
          </div>
		  
          <div class="form-group">
            <label class="col-md-5 control-label" for="change-surname-input">Apellido/s</label>
            <div class="col-md-7">
              <input type="text" id="change-surname-input" name=username class="form-control" required>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-5 control-label" for="change-mail-input">E-mail</label>
            <div class="col-md-7">
              <input type="text" id="change-mail-input" name=username class="form-control" required>
            </div>
          </div>
		  
          <div class="form-group">
          <label class="col-md-5 control-label">Fecha de nacimiento</label>
            <div class="col-md-7">
              <div class=row>
                <div class="col-md-4">
                  <input type="text" class="form-control" maxlength="2" placeholder="DD">
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" maxlength="2" placeholder="MM">
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" maxlength="4" placeholder="AAAA">
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-5 col-md-7">
              <button type="submit" class="btn btn-primary">Modificar datos</button>
            </div>
          </div>
		  
        </form>
      </div>
    </div>
  </div>


  <div class="col-md-5 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Cambiar contraseña</h3>
      </div>

      <div class=panel-body>
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-md-5 control-label" for="change-username-input">Usuario</label>
            <div class="col-md-7">
              <input type="text" id="change-username-input" name=username class="form-control" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-5 control-label" for="change-password-input">Contraseña actual</label>
            <div class="col-md-7">
              <input type="password" id="change-password-input" name=password class="form-control" required>
            </div>
          </div>
		  <div class="form-group">
            <label class="col-md-5 control-label" for="change-newpassword-input">Nueva contraseña</label>
            <div class="col-md-7">
              <input type="password" id="change-newpassword-input" name=password class="form-control" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-5 col-md-7">
              <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
