<div class="header-image header-image-shopping">
  <h1>Lista de deseos</h1>
</div>

<div class="cart-container">
  <div class="cart-product-container">
    <div class="cart-elem" ng-repeat="product in products">
      <img class="cart-elem-img" ng-src="{{product.product.imageUrl}}" ng-click="goOrder(product.product.id)" alt="...">
      <div class="cart-info-container" ng-click="goOrder(product.product.id)">
        <h2 class="cart-elem-title">{{ product.product.name }}</h2>
        <div class="cart-data-row">
          <span class="cart-elem-topData">Color: {{ product.color }}</span>
          <span class="cart-elem-topData">Marca: {{ product.brand }}</span>
        </div>
        <div class="cart-data-row">
          <span class="cart-elem-data">Cantidad: {{ product.quantity }}</span>
          <span class="cart-elem-data">Precio por Unidad: ${{ (product.price).toFixed(2) }}</span>
          <span class="cart-elem-data">Precio Total: ${{ (product.price * product.quantity).toFixed(2) }}</span>
        </div>
        <div class=row>
          <button type="button" class="atc-button" animate remove="addToCart($index)">Mover al Carrito</button>
        </div>
      </div>
      <button type="button" class="cart-elem-del" animate remove="remove($index)">x</button>
    </div>
    <span class="cart-total">Total: ${{ (runningTotal()).toFixed(2) }}</span>
  </div>
</div>