<div class="header-image header-image-shopping">
  <h1>Carrito</h1>
</div>

<div class="cart-container">
  <div class="cart-product-container">
    <div class="cart-elem" ng-repeat="product in products">
      <img class="cart-elem-img" ng-src="{{product.product.imageUrl}}" alt="...">
      <div class="cart-info-container">
        <h2 class="cart-elem-title">{{ product.product.name }}</h2>
        <div class="cart-data-row">
          <span class="cart-elem-size">Talle: {{ product.size }}</span>
          <span class="cart-elem-color">Color: {{ product.color }}</span>
          <span class="cart-elem-brand">Marca: {{ product.brand }}</span>
        </div>
        <div class="cart-data-row">
          <span class="cart-elem-quantity">Cantidad: {{ product.quantity }}</span>
          <span class="cart-elem-price">Precio por Unidad: ${{ product.price }}</span>
          <span class="cart-elem-totalprice">Precio Total: ${{ product.price * product.quantity }}</span>
        </div>
        <div class=row>
          <button type="button" class="atc-button" animate remove="addToCart($index)">Mover al Carrito</button>
        </div>
      </div>
      <button type="button" class="cart-elem-del" animate remove="remove($index)">x</button>
    </div>
    <span class="cart-total">Total: ${{ runningTotal() }}</span>
  </div>
</div>