<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Hipster Shop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/ico" href="./img/favicon.ico"/>
</head>
<body>
  <noscript>
    <div class=container>
      <div class="alert alert-danger">
        <strong>¡Atención!</strong> Tu navegador parece no tener activado javascript. <a href="https://support.google.com/adsense/answer/12654?hl=es" class="alert-link">Aprendé como activarlo</a> para poder ver correctamente nuestro sitio.
      </div>
    </div>
  </noscript>
  <nav class="topbar" ng-controller=PageHeaderCtrl>
    <div class="container">
      <ul class="topbar-links list-inline pull-left">
        <li ui-if="loggedIn"><a href="#">{{ user.firstName }}</a></li>
        <li ui-if="loggedIn"><a href="#" ng-click="logOut()">Salir</a></li>
        <li ui-if="!loggedIn"><a href="#/access">Iniciá sesión</a></li>
        <li ui-if="!loggedIn"><a href="#/access">Registrate</a></li>
        <li>|</li>
      </ul>

      <ul class="topbar-links list-inline pull-right">
        <li><a class=a href="#/cart">Ver carrito</a></li>
        <li><a class=a href="#/wishlist">Ver wishlist</a></li>
        <li><a class=a href="#/orders">Ver pedidos</a></li>
        <li><a href="#/checkout">Check out</a></li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-default" role="navigation">
    <div ng-controller=PageNavCtrl class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Hipster Shop</a>
      </div>

        <ul class="nav navbar-nav">
          <li ng-class="{active: gender == 'f' }"><a href="" ng-click="changeGender('f')">Mujeres</a></li>
          <li ng-class="{active: gender == 'm' }"><a href="" ng-click="changeGender('m')">Hombres</a></li>
        </ul>

        <form class="navbar-form navbar-left pull-right" ng-submit="search()">
          <div class="form-group">
            <input type="text" class="form-control" ng-model=searchTerm placeholder="Tu búsqueda">
          </div>
          <button type="submit" class="btn btn-default">Buscar</button>
        </form>
    </div>
  </nav>

  <div class="container">
    <div class="main" ng-view></div>
	<div class="panel-footer text-center footer">
	  <ul class="list-inline">
	    <li><a href="#">Ayuda</a></li>
		<li>-</li>
		<li><a href="mailto:contacto@hipstershop.com">Contacto</a></li>
		<li>-</li>
		<li><a href="https://twitter.com/HipsterShopArgentina">Twitter</a></li>
		<li>-</li>
		<li><a href="https://www.facebook.com/HipsterShopArgentina">Facebook</a></li>
	  </ul>
	</div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-cookies.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
